/*contenedor {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 29px 20px 25px 20px;
    color: #ffffff;
}
.contenedor::before, .contenedor::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
    margin: 0 21px 0 21px;
}
*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
}

body,html{
  height: 100vh;
}


/* Header */
.header{
    background-image:url(img/header.jpg);
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.amarok{
  font-size: 76px;
}

.b-amarok{
    border-radius: 20px;
    width: 10rem;
    padding: 0.5rem;
    margin-top: 3rem;
    text-align: center;
}


.logito{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    color: #ffffff;
}

.logito::after, .logito::before {
    content: '';
    flex: 1;
    /*border-bottom: 2px solid #ffffff;
    margin: 0 21px 0 21px;*/
    height: 2px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.logito a{
    color: #ffffff;
    text-decoration: none;
}

.logo-w{
    margin: 0 15px 0 15px;
}


.link{
  position: relative;
  font-size: 20px;
  color: #001E50;
  padding-bottom: 2px;
  border-bottom: 1px solid currentcolor;
  text-decoration: none;
}


.title-car{
  margin-top: 30px;
}

/*Cars*/



.cars{
  margin-top: 100px;
}


.cars-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
}


/*bicicletas */

.bicicletas-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:1rem;

}



/*avanzando juntos */

.avance-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:3rem;
}




/*empeza tu camino */

.road-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:3rem;
}

/*Live container */

.live-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
}


/*autoahorro container */

.autoahorro-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
}


/*parte del camino container */

.road-part-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
}


/*Volkswagen informa */

.inform-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 3rem;
}

.title-section{
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
}


.bicicletas h2{
  font-size: 50px;
}



/* Animation img */



.animated{
  transition: transform 2.2s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
}

.animated:hover{
  transform: scale(1.03);
}






/*Footer */


.links1,.links2,.links3,.links4 li{
  list-style: none;
}

.links1,.links2,.links3,.links4 li a{
  text-decoration: none;
}
